.header {
  text-align: center;
}

.watermark {
  opacity: 0.2;
  color: BLACK;
  position: absolute;
  top: 0;
  left: -110px;
  font-size: 24em;
  border: 5px solid black;
  border-radius: 114px;
  width: 217px;
  text-align: center;
}

.splitSection {
  display: flex;
  -moz-box-pack: end;
  justify-content: flex-end;
}

.splitSection .halfSection {
  width: 50%;
  padding: 48px 5em 48px 2em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}

.mainText { 
  padding: 0px 5em 0px 16.84px;
}