.answerLabel {
  margin-bottom:5px;
  margin-left: 5px;
  cursor: pointer;
}

.webflowButton {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #332a4f;
  font-size: 1.25em;
  text-decoration: none;
  text-transform: uppercase;
}

.webflowButtonTopBcg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  border: 1px solid #332a4f;
  border-radius: 50px;
  background-color: #faf2ff;
}

.webflowButtonBackBcg {
  position: absolute;
  left: 4px;
  top: 4px;
  right: -4px;
  bottom: -4px;
  border: 1px solid #332a4f;
  border-radius: 50px;
  background-color: #a093ca;
}

.correct {}
.incorrect {}
.answerOption {}

.answerOption.incorrect .webflowButtonTopBcg {
  border: 1px solid #ff715b;
  background-color: #f6afaf;
}

.answerOption.incorrect .webflowButtonBackBcg {
  border: 1px solid #e08e94;
  background-color: #b84a65;
}

.answerOption.correct .webflowButtonTopBcg {
  border: 1px solid #23ad0b;
  background-color: #78ff5f;
}

.answerOption.correct .webflowButtonBackBcg {
  border: 1px solid #75cc66;
  background-color: #338624;
}

.answerList {
  list-style-type: none;
}

.answerList[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

.formButton {
  max-width: 38%;
  cursor: pointer;
}

.formButton:hover { 
  transform: translate(0px, -1px);
}

.formButton:active { 
  transform: translate(0px, -2px);
}

.answerButton {
  composes: webflowButton;
  composes: formButton;
  margin-bottom: 10px;
}

.submitButton {
  composes: formButton;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 32px;
  background-color: #ff715b;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 1.25em;
  text-transform: uppercase;
  color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;   
}

.submitButton:hover {
  background-color: rgba(255, 113, 91, 0.8);
}

.submitButton[disabled]{
  background-color: rgb(242 175 164 / 80%)
  /* display: none; */
}

.submitButton[disabled]:hover { 
  transform: none;
}

.secondaryButton {
  composes: webflowButton;
  composes: formButton;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 32px;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 1.25em;
  text-transform: uppercase;
  color: #332a4f;
  border: 1px solid #a093ca;
}

.secondaryButton:hover {
  color: #474257;
  border: 1px solid #544e69;
}

.footer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rightAnswer {
  background: chartreuse;
}

.wrongAnswer {
  background: crimson;
}
